extends layout

block content
    div(class='container-fluid')
        h2 Edit existing workers
        div(class='row')
            div(class='span3')
                h3 Name
            div(class='span3')
                h3 Nickname
        each entry in emps
            div(class='row')
                div(class='span3')
                    p=entry.name
                div(class='span3')
                    div.form-group
                        input#name.form-control(type='text',name='name',value=test)
                div(class='span3')
                    button.btn.btn-primary(type='submit') Submit
        h2 Add new worker
