doctype html
html(lang="en")
    head
        title= title
        meta(charset='utf-8')
        //-meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='stylesheets/style.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body
        img#bgimg(src='https://i.imgur.com/FuO35Sw.jpg')
        .bg
        .container-fluid(style='z-index: 1;')
            .row
                .span2
                    table
                        tbody
                            tr
                                td(style='padding:0 5px 0 0')
                                    a(href='/') Home
                                td(style='padding:0 5px 0 0')
                                    a(href='/test') Login
                                td
                                    a(href='/admin') Admin
            .row
                h1#title UW Oshkosh IT Help Desk
            block content
    script.
        var urls = ['https://i.imgur.com/FuO35Sw.jpg','https://i.imgur.com/dyorm7p.jpg',
                    'https://i.imgur.com/87xDbLK.jpg','https://i.imgur.com/bxrwKkV.jpg',
                    'https://i.imgur.com/qGphU4g.jpg','https://imgur.com/B6WVL4j.jpg',
                    'https://i.imgur.com/ZXwwIw7.jpg','https://i.imgur.com/wAVxUv7.jpg',
                    'https://i.imgur.com/kuA2azd.jpg','https://i.imgur.com/11FlDlk.jpg',
                    'https://i.imgur.com/q7wo9IU.jpg','https://i.imgur.com/WosKbwZ.jpg',
                    'https://i.imgur.com/8CIrjHk.jpg','https://i.imgur.com/zytGSot.jpg'];
        var pic = 0;
        var opacity = 0.1;
        function fadeOut() {
            opacity = 0.1;
            var fadeOut = setInterval(function() {
                if(Math.round(1000*opacity)===0) {
                    pic = (pic+1)%14;
                    document.getElementById('bgimg').src=urls[pic];
                    window.setTimeout(fadeIn,500);
                    clearInterval(fadeOut);
                } else {
                    opacity -= 0.00025;
                    document.getElementById('bgimg').style.opacity = opacity;
                }
            }, 5);
        }
        function fadeIn() {
            opacity = 0.0;
            var fadeIn = setInterval(function() {
                if(Math.round(1000*opacity)===100) {
                    clearInterval(fadeIn);
                } else {
                    opacity += 0.00025;
                    document.getElementById('bgimg').style.opacity = opacity;
                }
            }, 5);
        }
        setInterval(function() {
            fadeOut();
        }, 30000);
    block scripts
